<h1>Create</h1>
<h3>Comic</h3>

<form method="post">
	<input type="text" name="IdComic" class="form-control" hidden/>
	<label>Nombre:</label>
	<input type="text" name="Nombre" class="form-control" />
	<label>Imagen:</label>
	<input type="text" name="Imagen" class="form-control" />
	<label>Descripción:</label>
	<input type="text" name="Descripcion" class="form-control" />
	<button class="btn btn-info">Insertar</button>
</form>

<p>
	<a asp-controller="Doctores" asp-action="Index">Back to list</a>
</p>